header{
    box-sizing: border-box;
}

header nav{
    background: rgb(193,186, 171);
    display: flex;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
    padding: 0 10%;
}

header nav .logo{
    display: flex;
}

header nav .logo img{
    margin-top: auto;
    margin-bottom: auto;
    height: 85%;
}

header nav .nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

header nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0 20px;
    transition: .3s;
}

header nav .nav-list .nav-item:hover{
    background: rgb(219, 209, 190);
}

header nav .nav-list .nav-item .nav-link{
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 870px){
    header nav{
        padding: 0 5%;
    }

    hader .nav-list .nav-item{
        padding: 0 10px;
    }
}

@media (max-width: 775px){
    header nav .nav-list{
        display: grid;
        position: absolute;
        background:  rgb(193,186, 171);
        width: 100%;
        left: 0;
        top: 70px;
        z-index: -1;
        transform: translateY(-150%);
        transition: 0.3s;
    }

    header nav .nav-list .nav-item{
        padding-left: 35px;
    }

    header nav .menu-toggle{
        display: grid !important;
    }
}

header  #btnNavBar {
    display: none;
}

header nav .menu-toggle{
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
    transition: 0.7s;
}

header nav .menu-toggle .bar{
    width: 40px;
    height: 5px;
    background:rgb(110, 101, 83);
    margin-bottom: 10px;
    transition: .7s;
}

header #btnNavBar:checked ~ nav .nav-list{
    transform: translateY(0);
    z-index: 55;
}

header #btnNavBar:checked ~nav .menu-toggle{
    margin-top: 35px;
}

header #btnNavBar:checked ~nav .menu-toggle .bar:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}

header #btnNavBar:checked ~nav .menu-toggle .bar:nth-child(2){
    display: none;
}

header #btnNavBar:checked ~nav .menu-toggle .bar:nth-child(3){
    transform: rotate(-45deg);
}