/* Décalage du main vers le haut */
#lieu {
  margin-top: -50px;
  font-size: 14px;
}

/* Les généralités */
#lieu .generalite {
  margin: 15px;
  padding: 2px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.865);
  box-shadow: 5px 5px 10px black;
}

/* Container des articles */
#lieu .content {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Carte article */
#lieu .content article {
  display: flex;

  border-radius: 25px 5px;
  background-color: rgba(255, 255, 255, 0.865);
  background-color: rgb(233, 227, 216);
  box-shadow: 5px 5px 10px black;

  margin: auto;
  margin-bottom: 15px;
  width: calc(25% - 15px);
}

/* Titre article (image, titre et bouton) */
#lieu .content article .titreArticle {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

/* Image de l'article */
#lieu .content article .titreArticle img {
  max-width: 90%;
  max-height: 140px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px black;
}

/* Titre de l'article */
#lieu .content article .titreArticle h2 {
  text-align: center;
  font-size: 1em;
  /* color: red; */
}


/* ------------------------------------------------------------------- */
/* Bouton pour afficher le popup */
#lieu .content article .titreArticle .button {
  text-align: center;
  font-size: 1em;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 80%;
  color: gray;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 4px 12px black;
  transition: all 0.3s ease-out;
}

/* Au survol du bouton qui affiche le popup */
#lieu .content article .titreArticle .button:hover {
  box-shadow: none;
}

/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
#lieu input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label.btn {
  text-align: center;
  font-size: 12px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 80%;
  color: gray;
  border: 1px solid black;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 4px 12px black;
  transition: all 0.3s ease-out;
  cursor: pointer;
  visibility: hidden;
  position: absolute;
}



/* ------------------------------------------------------------------- */


/* Conteneur du popup */
#lieu .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}

/* Affiche le popup quand il a le target */
#lieu .overlay:target {
  visibility: visible;
  opacity: 1;
}

/* Conteneur du popup */
#lieu .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  max-height: 200px;
  box-shadow: 0px 0px 35px white;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all .5s ease-in-out;
}

/* Conteneur de l'article dans le popup */
#lieu .content article .texte {
  max-height: 190px;
  overflow: hidden;
  overflow: scroll;
}

#lieu .texte img {
  max-width: 35%;
  max-height: 30%;
  margin-right: 5px;
  float: left;
}


/* Style d'un paragraphe du popup */
#lieu .content article .texte p {
  margin: 5px;
  text-align: justify;
  margin-bottom: 5px;
}

/* Bouton close du popup */
#lieu .popup .close {
  position: absolute;
  top: 0px;
  right: 5px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

/* Bouton close du popup quand on le survol */
#lieu .popup .close:hover {
  font-size: 40px;
}





@media only screen and (max-width: 800px) {

  /* Carte article */
  #lieu .content article {
    width: calc(50% - 15px);
  }
}

/* Pour Petit écran */
@media only screen and (max-width: 600px) {

  /* Masque le bouton qui affiche le popup */
  #lieu .button {
    position: absolute;
    left: -500px;
    visibility: hidden;
  }

  /* Masque le bouton close du popup */
  #lieu .popup .close {
    visibility: hidden;
  }

  input[type=checkbox]+label.btn {
    visibility: visible;
    position: relative;
  }


  /* Carte article */
  #lieu .content article {
    width: calc(100% - 10px);
  }

  /* Action click bouton */
  #lieu .buttonMobil:checked~.overlay {
    visibility: visible;
    opacity: 1;
    position: relative;
    background: none;
  }

  /* Conteneur du popup */
  #lieu .popup {
    margin: 5px;
    width: fit-content;
    max-height: max-content;
  }

  /* Conteneur de l'article dans le popup */
  #lieu .content article .texte {
    max-height: fit-content;
  }

  /* Chagement du texte du bouton */
  #lieu .buttonMobil:checked~.btn::before{
    content: "Masquer l'article";
    font-size: 12px;
  }

  #lieu .buttonMobil:checked~.btn{
    font-size: 0;
  }
}