@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body, *{
    /* margin: 0;
    padding: 0; */
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}



body{
    background-color: rgb(96, 19, 28);
}

/* Header */
header {
    margin: 5px;
    border-radius: 5px;
    background-image: url('../img/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.475);
}

header .devise{
    flex-direction: column;
}

header .devise span{
    color: orange;
}

header div img {
    width: 50px;
    margin: 5px;
}

header div h1 {
    color: rgb(217, 217, 217);
    font-size: 65px;
    margin: 0;
    text-shadow: black 2px 2px;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

header span{
    font-size: 16px;
    color: white;
}

header nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: flex;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0.699);
    border: solid 1px white;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    justify-content: center;
    align-items: center;
}

header nav ul li a {
    font-size: 12px;
    /* margin: auto; */
    text-decoration: none;
    color: black;
    width: 100%;
}

header nav ul .actif {
    background-color: orange
}

header nav ul li:hover {
    background-color: rgba(255, 255, 255);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transform: translateY(-5px);
}

header nav ul .actif:hover {
    background-color: orange;
    transform: translateY(0);
}

/* Main */
main article{
    margin: 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px white solid;
    background-color: #ffffffc3;
    padding: 5px;
}

main article h2{
    color: magenta;
}

main article h3{
    background-color: magenta;
}

main article img{
    /* margin: 10px;
    border-radius: 10px;
    height: 280px; */
}

main article ul{
    margin-top: 15px;
}

main article ul li::before{
    content: '⦿';
    padding-right: 8px;
    color: green;
}
main article ul li{
    text-decoration: none;
}

.logo-in{
    width: 10px;
}

#lieu{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
}

#lieu  article:not(:first-child){
    max-width: calc((100vw / 4) - 15px);
    max-height: 600px;
    overflow: hidden;
    overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

#lieu img{
    margin: 10px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 200px;
    /* height: 200px; */
}

#lieu p{
    text-align: justify;
    display: -webkit-box;           /* Utilisé pour activer le line-clamp */
    -webkit-box-orient: vertical;   /* Définit l'orientation verticale */
    /* -webkit-line-clamp: 3;          */
    overflow: hidden;               /* Cache le texte excédentaire */
    text-overflow: ellipsis;
}




 


